body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 90%;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

#quiz-container {
    margin-bottom: 20px;
}

#question {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

#choices {
    display: flex;
    flex-direction: column;
}

#choices button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#choices button:hover {
    background-color: #0056b3;
}

#restart-message,
#victory-message {
    display: none;
}

#restart-message h2,
#victory-message h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}

#restart-btn {
    background-color: #DC3545;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#restart-btn:hover {
    background-color: #c82333;
}

#timer {
    font-size: 18px;
    color: #333;
    margin-top: 15px;
}
